opencv-python
pillow
numpy<2.0.0
omegaconf
seaborn
matplotlib
psutil
py-cpuinfo
flask
flask-cors
flask-graphql
flask-socketio
graphene
torch
torchvision
ultralytics
tensorflow==2.15.0
tf-keras==2.15.0
retina-face>=0.0.14